.root {
  background-color: var(--accessibility-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
  height: 5em;
}

.title {
  color: var(--accessibility-primary-text-contrast);
  margin: 0;
}

.actions {
  display: flex;
  gap: 1em;
}

.button {
  all: unset;
  padding: 5px;
  background-color: var(--accessibility-primary-contrast);
  cursor: pointer;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  place-items: center;
  place-content: center;
}

.button:focus {
  outline: 1px solid var(--accessibility-focus-color);
}

.button:hover {
  opacity: 0.8;
}
