.root {
  background-color: var(--accessibility-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.title {
  color: var(--accessibility-primary-text);
  margin: 0;
}

.actions {
  display: flex;
  gap: 1em;
}

.button {
  display: flex;
  place-items: center;
  place-content: center;

  width: 2.5em;
  height: 2.5em;

  border-radius: 50%;
  border: none;

  cursor: pointer;
}
