{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:react/jsx-runtime"
  ],
  "parserOptions": {
    "project": "./tsconfig.app.json"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src"
          ]
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-cycle": [
      "error",
      {
        "maxDepth": "∞"
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function"
      }
    ],
    "react/jsx-props-no-spreading": [
      "error",
      {
        "html": "ignore",
        "custom": "enforce",
        "explicitSpread": "enforce",
        "exceptions": [
          "Component"
        ]
      }
    ],
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "class-methods-use-this": "off",
    "brace-style": [
      "error",
      "stroustrup"
    ],
    "@typescript-eslint/brace-style": [
      "error",
      "stroustrup"
    ]
  }
}