.root {
  overflow-y: auto;
  padding: var(--wap-spacing-md);
  height: 100%;
  max-height: calc(100% - 64px);
  background-color: var(--wap-color-primary);
  border: solid var(--wap-border-width-thin) var(--wap-color-primary-dark);
}
