.button {
  background-color: var(--accessibility-color-secondary);
  color: var(--accessibility-color-primary);
  border: solid 1px var(--accessibility-color-border);
  border-radius: 4px;
  padding: 0.25em 0.5em;
}

.button:hover {
  background-color: var(--accessibility-color-hover);
}

.button:disabled {
  color: var(--accessibility-color-border);
}
