.button {
  background-color: var(--accessibility-primary-color);
  color: var(--accessibility-primary-text-color);
  border: solid 1px var(--accessibility-primary-border-color);
  border-radius: 4px;
  padding: 0.25em 0.5em;
}

.button:hover {
  background-color: var(--accessibility-primary-hover-color);
}

.button:disabled {
  color: var(--accessibility-primary-border-color);
}
