.root {
  position: fixed;
  left: 0;
  top: 0px;
  z-index: 500000;
  box-shadow: 0px 0px 20px var(--accessibility-focus-color);
  opacity: 1;
  overflow: hidden;
  background-color: var(--accessibility-primary-bg-color);
  width: 480px;
  line-height: 1;
  height: 100%;
  letter-spacing: 0.015em;
}

.rootHidde {
  display: none;
}

@media only screen and (max-width: 512px) {
  .root {
      width: 100%;
  }
}
