.root {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 500000;
  opacity: 1;
  overflow: hidden;
  background-color: var(--accessibility-secondary);
  width: 480px;
  line-height: 1;
  height: 100%;
  letter-spacing: 0.015em;
}

.rootHidde {
  display: none;
}

@media only screen and (max-width: 512px) {
  .root {
      width: 100%;
  }
}
