.root {
  display: grid;
  gap: 0.5em;

  border-radius: 16px;

  font-weight: 700;
}

.buttonContainer {
  display: flex;
  gap: 0.5em;
  place-items: center;
  justify-content: space-evenly;
}

.button {
  border-radius: 50%;
  border: none;
  outline: none;
  width: 2.5em;
  height: 2.5em;
}

.button:focus {
  outline: 1px solid var(--accessibility-focus);
}

.button > svg {
  height: 1.7em;
  width: 1.7em;
}

.title {
  margin: 0;
  text-align: center;
}