.root {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.input { 
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  appearance: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: var(--wap-radius-lg);
  background-color: var(--wap-color-primary-dark);

  transition: background-color var(--wap-transition-slow);
}

.slider:before {
  content: "";
  position: absolute;

  left: 0%;
  top: 50%;

  margin-left: var(--wap-spacing-xs);
  transform: translate(0%, -50%);

  height: 18px;
  width: 18px;
  border-radius: var(--wap-radius-full);
  background-color: var(--wap-color-primary-light);

  transition: transform var(--wap-transition-slow);
}

.input:checked + .slider {
  background-color: var(--wap-color-info);
}

.input:checked + .slider:before {
  transform: translate(calc(100% + var(--wap-spacing-xs)), -50%);
}
