.MenuButtonGroup__root {
  display: grid;
  gap: 0.5em;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
}

.MenuButtonGroup__root > * {
  max-width: initial;
  width: initial;
}
