.root {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 1em;

  background-color: var(--accessibility-color-white);
  border: solid 3px black;
  border-radius: 16px;

  padding: 1em;
  max-width: 8em;
  height: 8em;

  font-weight: bold;
  text-align: center;
  font-size: 1em;
  color: var(--accessibility-black);
}

.root:focus {
  outline: solid 3px var(--accessibility-color-active);
}

.root:hover {
  border-color: var(--accessibility-color-black);
  opacity: 0.8;
}

.root > svg {
  width: 2em;
  height: 2em;
}

.rootActive {
  background-color: var(--accessibility-color-info);
}
