.MenuButton__root {
  all: unset;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 1em;

  background-color: var(--accessibility-tertiary-bg-color);
  border-radius: 16px;

  padding: 1em;
  max-width: 8em;
  height: 5em;

  font-weight: bold;
  text-align: center;
  font-size: 1em;

  cursor: pointer;
}

.MenuButton__root:focus {
  outline: solid 1px var(--accessibility-focus-color);
}

.MenuButton__root:hover {
  opacity: 0.8;
}

.MenuButton__root > svg {
  width: 2em;
  height: 2em;
}

.MenuButton__root--active {
  background-color: var(--accessibility-selected-color);
}
