.hightContrast {
  filter: contrast(125%) !important;
}

.lowConstrast {
  filter: contrast(50%) !important;
}

.hightSaturation {
  filter: saturate(200%) !important;
}

.invertColors {
  filter: invert(1) hue-rotate(180deg) !important;
  & img {
    filter: invert(1) hue-rotate(180deg) !important;
  }
}

.red {
  filter: sepia(1) saturate(5) hue-rotate(-30deg);
}

.green {
  filter: sepia(1) saturate(5) hue-rotate(60deg);
}

.blue {
  filter: sepia(1) saturate(5) hue-rotate(180deg);
}
