:root {
  --accessibility-true-blue: #0073e6;
  --accessibility-very-light-blue: #606ff3; 

  --accessibility-white: #ffffff;
  --accessibility-black: #000000;
  --accessibility-lotion : #fafafa;

  --accessibility-deep-cerise : #e6308a;
  --accessibility-munsell-yellow: #f2c300;
  --accessibility-coral-red: #f53f42;

  --accessibility-breakpoint-xs: 575px;
  --accessibility-breakpoint-sm: 576px;
  --accessibility-breakpoint-md: 768px;
  --accessibility-breakpoint-lg: 992px;
  --accessibility-breakpoint-xl: 1200px;
  --accessibility-breakpoint-xxl: 1400px;
}

.Accessibility__root {
  font-size: 16px !important;
  line-height: 1.5;
}

.Accessibility__root * {
  font-family: sans-serif !important;
}

.Accessibility__root h1 {
  font-size: 3em; /* 48px */
  letter-spacing: -0.015em; /* -0.24px */
}

.Accessibility__root h2 {
  font-size: 2.25em; /* 36px */
  letter-spacing: -0.01em; /* -0.16px */
}

.Accessibility__root h3 {
  font-size: 1.75em; /* 28px */
  letter-spacing: -0.005em; /* -0.08px */
}

.Accessibility__root h4 {
  font-size: 1.5em; /* 24px */
  letter-spacing: 0em; /* 0px */
}

.Accessibility__root h5 {
  font-size: 1.25em; /* 20px */
  letter-spacing: 0.005em; /* 0.08px */
}

.Accessibility__root h6 {
  font-size: 1em; /* 16px */
  letter-spacing: 0.01em; /* 0.16px */
}
