
.highlightTitle h1:not(:global(.Accessibility__root) h1),
.highlightTitle h2:not(:global(.Accessibility__root) h2),
.highlightTitle h3:not(:global(.Accessibility__root) h3),
.highlightTitle h4:not(:global(.Accessibility__root) h4),
.highlightTitle h5:not(:global(.Accessibility__root) h5),
.highlightTitle h6:not(:global(.Accessibility__root) h6)
{
  outline: 2px solid var(--accessibility-coral-red) !important;
  outline-offset: 1px !important;
}

.highlightLink a:not(:global(.Accessibility__root) a) {
  outline: 2px solid var(--accessibility-true-blue) !important;
  outline-offset: 1px !important;
}

.highlightCursor * {
  cursor: url('../assets/cursor-svgrepo-com.svg'), auto !important;
}
