.highlightTitles h1:not(:global(.WAP__root) h1),
.highlightTitles h2:not(:global(.WAP__root) h2),
.highlightTitles h3:not(:global(.WAP__root) h3),
.highlightTitles h4:not(:global(.WAP__root) h4),
.highlightTitles h5:not(:global(.WAP__root) h5),
.highlightTitles h6:not(:global(.WAP__root) h6)
{
  outline: var(--wap-border-width-base) solid var(--wap-color-danger) !important;
  outline-offset: var(--wap-border-width-thin) !important;
}

.highlightLinks a:not(:global(.WAP__root) a) {
  outline: var(--wap-border-width-base) solid var(--wap-color-info) !important;
  outline-offset: var(--wap-border-width-thin) !important;
}

.hideImages img {
  display: none !important;
}

.stopAnimations * {
  animation: none !important;
  transition: none !important;
}
