.root {
  position: fixed;
  bottom: 1vh;
  right: 1vh;

  background-color: var(--accessibility-color-info);
  outline: 4px solid var(--accessibility-color-info);
  border: 2px solid var(--accessibility-color-white);
  border-radius: 50%;

  width: 56px;
  height: 56px;
  padding: 0;

  display: flex;
  place-content: center;
  place-items: center;

  cursor: pointer;
}

.root:focus {
  background-color: var(--accessibility-color-active);
  outline: 4px solid var(--accessibility-color-active);
}

.root:hover {
  opacity: 0.8;
  border-color: var(--accessibility-color-white);
}
