.root {
  position: fixed;
  bottom: var(--wap-spacing-md);
  right: var(--wap-spacing-md);

  background-color: var(--wap-color-secondary);
  outline: var(--wap-border-width-thick) solid var(--wap-color-secondary);
  border: var(--wap-border-width-base) solid var(--wap-color-secondary-text);
  border-radius: var(--wap-radius-full);

  width: 56px;
  height: 56px;
  padding: 0;

  display: flex;
  place-content: center;
  place-items: center;

  cursor: pointer;
}

.root:focus {
  background-color: var(--wap-color-secondary-dark);
  outline: var(--wap-border-width-thick) solid var(--wap-color-secondary-dark);
}

.root:hover {
  background-color: var(--wap-color-secondary-light);
  outline-color: var(--wap-color-secondary-light);
}
