.root {
  position: fixed;
  bottom: 1vh;
  right: 1vh;

  background-color: var(--accessibility-true-blue);
  outline: 4px solid var(--accessibility-true-blue);
  border: 2px solid var(--accessibility-white);
  border-radius: 50%;

  width: 64px;
  height: 64px;
  padding: 0;

  display: flex;
  place-content: center;
  place-items: center;

  cursor: pointer;
}

.root:focus {
  background-color: var(--accessibility-deep-cerise);
  outline: 4px solid var(--accessibility-deep-cerise);
}

.root:hover {
  opacity: 0.8;
  border-color: var(--accessibility-white);
}
