.root {
  position: fixed;
  right: 0;
  bottom: 1px;
  z-index: var(--wap-z-modal);

  width: 400px;
  height: 75vh;

  border-top-left-radius: var(--wap-radius-lg);
  border-top-right-radius: var(--wap-radius-lg);
  border-top: none;
  border-bottom: none;

  overflow: hidden;
  opacity: 1;
}

.rootHidde {
  display: none;
}

@media only screen and (max-width: 576px) {
  .root {
      width: 100%;
  }
}
