.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 var(--wap-spacing-md);
  background-color: var(--wap-color-info);
}

.actions {
  display: flex;
  gap: var(--wap-spacing-sm);
}

.button {
  display: flex;
  place-items: center;
  place-content: center;

  width: 2.5em;
  height: 2.5em;
  padding: 0;

  border-radius: var(--wap-radius-full);
  border: none;
  cursor: pointer;
}
