.root {
  overflow: scroll;
  padding: 1em;
  height: 100vh;
  max-height: calc(100vh - 64px);
  background-color: var(--accessibility-lotion);

  display: flex;
  flex-direction: column;
  gap: 1em;
}
