.root {
  overflow-y: auto;
  padding: 1em;
  height: 100%;
  max-height: calc(100% - 64px);
  background-color: var(--accessibility-color-primary);

  display: flex;
  flex-direction: column;
  gap: 1em;
}
