.root {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  justify-content: space-between;
}

.button {
  all: unset;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background-color: var(--accessibility-color-white);
  display: flex;
  place-content: center;
  place-items: center;
  cursor: pointer;
}

.button:focus {
  outline: 1px solid var(--accessibility-color-active);
}

.button:hover {
  border-color: var(--accessibility-color-black);
  opacity: 0.8;
}

.value {
  font-size: 1.7em;
} 
