.root {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  justify-content: space-between;
}

.button {
  all: unset;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background-color: var(--accessibility-secondary-background);
  display: flex;
  place-content: center;
  place-items: center;
  cursor: pointer;
}

.button:focus {
  outline: 1px solid var(--accessibility-focus);
}

.button:hover {
  opacity: 0.8;
}


.value {
  font-size: 1.75em;
} 
