:root {
  --accessibility-primary: #1d4289;
  --accessibility-primary-border: #FFFFFF;
  --accessibility-primary-text: #FFFFFF;
  --accessibility-primary-background: #FFFFFF;

  --accessibility-secondary: #F5F5F5;
  --accessibility-secondary-text: #333333;
  --accessibility-secondary-background: #FFFFFF;

  --accessibility-focus: black;
  --accessibility-selected: lightblue;
}
