:root {
  --accessibility-primary: #1d4289;
  --accessibility-primary-contrast: #FFFFFF;
  --accessibility-primary-text: #FFFFFF;

  --accessibility-secondary: #F5F5F5;
  --accessibility-secondary-text: #333333;

  --accessibility-tertiary: #FFFFFF;
  --accessibility-tertiary-contrast: #d3d3d3;
  --accessibility-tertiary-text: #212121;

  --accessibility-focus: black;
  --accessibility-selected: #b3c7f7;
}
