:root {
  --accessibility-primary: #1d4289;
  --accessibility-primary-contrast: #FFFFFF;
  --accessibility-primary-text: #FFFFFF;

  --accessibility-secondary: #e7e7e7;
  --accessibility-secondary-text: #FFFFFF;

  --accessibility-tertiary: #FFFFFF;
  --accessibility-tertiary-contrast: #d3d3d3;
  --accessibility-tertiary-text: #212121;

  --accessibility-focus: black;
  --accessibility-selected: #99CCFF;

  --accessibility-breakpoint-xs: 575px;
  --accessibility-breakpoint-sm: 576px;
  --accessibility-breakpoint-md: 768px;
  --accessibility-breakpoint-lg: 992px;
  --accessibility-breakpoint-xl: 1200px;
  --accessibility-breakpoint-xxl: 1400px;
}

.Accessibility__root {
  font-size: 16px !important;
  line-height: 1.5;
  font-family: sans-serif !important;
}

.Accessibility__root h1 {
  font-size: 3em; /* 48px */
  letter-spacing: -0.015em; /* -0.24px */
}

.Accessibility__root h2 {
  font-size: 2.25em; /* 36px */
  letter-spacing: -0.01em; /* -0.16px */
}

.Accessibility__root h3 {
  font-size: 1.75em; /* 28px */
  letter-spacing: -0.005em; /* -0.08px */
}

.Accessibility__root h4 {
  font-size: 1.5em; /* 24px */
  letter-spacing: 0em; /* 0px */
}

.Accessibility__root h5 {
  font-size: 1.25em; /* 20px */
  letter-spacing: 0.005em; /* 0.08px */
}

.Accessibility__root h6 {
  font-size: 1em; /* 16px */
  letter-spacing: 0.01em; /* 0.16px */
}