.hightContrast {
  filter: contrast(125%) !important;
}

.lowConstrast {
  filter: contrast(50%) !important;
}

.hightSaturation {
  filter: saturate(200%) !important;
}

.invertColors {
  filter: invert(1) hue-rotate(180deg) !important;
}

.invertColors img {
  filter: invert(1) hue-rotate(180deg) !important;
}

/* Daltonism */

.protanopia {
  filter: brightness(120%) contrast(110%) sepia(70%) hue-rotate(-30deg) saturate(150%);
}

.deuteranopia {
  filter: brightness(120%) contrast(110%) sepia(70%) hue-rotate(-30deg) saturate(120%);
}

.tritanopia {
  filter: brightness(130%) contrast(115%) sepia(80%) hue-rotate(60deg) saturate(140%);
}

.achromatopsia {
  filter: brightness(115%) contrast(125%) grayscale(90%);
}

.achromatomaly {
  filter: brightness(115%) contrast(120%) saturate(80%);
}
