name: Publish to GitHub Pages

# This workflow will publish the built files to GitHub Pages when changes are pushed to the master branch.

on:
  push:
    branches: [ "master" ]

permissions:
  contents: write # to deploy to GitHub Pages
  pages: write # to deploy to GitHub Pages

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node.js and pnpm
      uses: ./.github/actions/setup-node-pnpm

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Build GitHub Page
      run: pnpm build - --base=/web-accessibility-plugin/

    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: dist
