.root {
  position: fixed;
  bottom: 1vh;
  right: 1vh;

  background-color: var(--accessibility-primary);
  outline: 4px solid var(--accessibility-primary);
  border: 2px solid var(--accessibility-primary-contrast);
  border-radius: 50%;

  width: 4em;
  height: 4em;

  display: flex;
  place-content: center;
  place-items: center;

  cursor: pointer;
}

.root:focus {
  outline: 4px solid var(--accessibility-focus);
}
